<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="client.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="client.telefone" name="telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="client.email" name="email">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createClient()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="">
        Cancelar
    </button>


</mat-card>